---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.siteUrl }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.siteUrl }}/column/</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
{%- for article in collections.columnArticles %}
  <url>
    <loc>{{ site.siteUrl }}/column/{{ article.data.slug }}/</loc>
    {%- if article.data.updated_date %}
    <lastmod>{{ article.data.updated_date | isoDate }}</lastmod>
    {%- elif article.data.publish_date %}
    <lastmod>{{ article.data.publish_date | isoDate }}</lastmod>
    {%- endif %}
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
{%- for cat in categoryList %}
  {%- set catArticles = collections.columnArticles | byCategory(cat.slug) %}
  {%- if catArticles.length > 0 %}
  <url>
    <loc>{{ site.siteUrl }}/column/category/{{ cat.slug }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>
  {%- endif %}
{%- endfor %}
{%- for tagItem in collections.columnTagList %}
  <url>
    <loc>{{ site.siteUrl }}/column/tag/{{ tagItem.tag | urlencode }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.4</priority>
  </url>
{%- endfor %}
</urlset>
